@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*{
    margin: 0;padding: 0;   
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    height: 100%;
}
header{
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: black; */
    background: rgba(0, 0, 0, 0.3);
    z-index: 500;    
}
header .logo{
    color: mintcream;
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 1.1em;
    color: mintcream;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
header ul li a:hover,
header ul li a:active{
    /* background-color:whitesmoke; */
    color: whitesmoke;
    font-weight: 700;
    transform: scale(1.1);
    /* border-radius: 5px; */
    letter-spacing: 1px;
    text-decoration: none;
}
/* .kml{
    background: rgba(0, 0, 0, 0.3);
border-radius: 21%;
box-shadow: inset 11.71px 11.71px 25px #E8EAEE, inset -11.71px -11.71px 25px #F4F6FA;

} */

.home{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    /* color: whitesmoke; */
    color: rgba(0, 0, 0, 0.5);
    background: url(images/pexels-stefan-stefancik-91216\ \(1\).jpg) no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
    overflow: hidden
}

.portfolio{
    /* position: relative;
    top: 0;*/
    width: 100%;
    /* height: 100vh; */
    /* color: whitesmoke; */
    background: url(images/pexels-stein-egil-liland-1933317.jpg) no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
    overflow: hidden;
    /* margin-bottom: 0; */
    margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.certificates{
    color: whitesmoke;
    background: url(images/pexels-tobias-bjørkli-2113565.jpg) no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
    overflow: hidden;
}
.about{
    color: whitesmoke;
    background: url(images/pexels-mukul-parashar-3588650\ \(1\).jpg) no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
    overflow: hidden;
}

#home p{
    font-size: 2rem;
}
#home h1{
    font-size: 4rem;
    /* text-decoration: underline; */
    font-weight: bold;
}
.toggle{
    display: none;
}
section{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 150px 100px 100px;
}
/* section img{
        margin: 50px 0 30px;
        max-width: 100%;    
} */

section h2{
    font-size: 2.5em;
    text-transform: uppercase;
}
section p{
    font-size: 1em;
}
section a{
    display: inline-block;
    /* padding: 8px 10px; */
    text-decoration: none;
    /* background: #111; */
    /* margin-top: 20px; */
    /* color: mintcream; */
    border-radius: 5px;
}
/* section:nth-child(odd){
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: mintcream;    
}
section:nth-child(odd) img{
    border: 5px solid mintcream;
    border-radius: 10px;
}
section:nth-child(even) img{
    border: 5px solid black;
    border-radius: 10px;
}
section:nth-child(even){
    position: relative;
    justify-content: space-between;
    align-items: center;
    background:mintcream;
    color: black;
} */


.social{
	position: fixed;
	top:75%;
	right:0px;
    transform:translateY(-50%);
    color: black;
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:40px;
	height:40px;
	margin:0px;
	padding: 0px;
    line-height:0px;
    color: orange;
	background-color:rgba(0, 0, 0, 0.5);
    border:1px solid black;
    border-radius: 5px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
	background-color:#000000;
    transition:all ease 0.5s;
    text-decoration: none;
    color: whitesmoke;
}
/* .social i{
	font-size:20px;
    color:#2B2B2B;
   
} */
table {  
  /* border-collapse: collapse; */
  width: 100%;
  color: whitesmoke;
  font-size: 1.3rem;
  /* border : 1px solid rgba(0, 0, 0, 0.5); */
  background : rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

td, tr {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
}




@media (max-width: 880px){
    /* section{        
        padding: 100px 50px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section img{
        margin: 50px 0 0;
        max-width : 100%;
    } */
    header ul{
        position: absolute;
        top : -100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 50px 100px;
        text-align: center;
        overflow: auto;
        transition: 0.5s;
        background: #000;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-100%);
    }
    /* .card{
        width: 10rem;
    } */
    header.active ul{
        opacity: 1;
        top: 60px;
        transform: translateY(0);
    }
    header ul li a{
        margin: 5px 0;
        font-size: 1.5em;
    }
    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before{
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: mintcream;
        z-index: 1;
        box-shadow: 0 10px 0 rgb(75, 121, 207);
        /* box-shadow: 0 10px 0 crimson; */
        transition: 0.5s;
    }
    .toggle:after{
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        /* background: rgb(10, 69, 180); */
        background: crimson;
        z-index: 1;
        /* box-shadow: 0 10px 0 mintcream; */
        transition: 0.5s;
    }
    header.active .toggle:before{
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 mintcream;
    }
    header.active .toggle:after{
        bottom: 18px;
        transform: rotate(-45deg);
        box-shadow: 0 0 0 mintcream;
    }
    
}