@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}
/* body{
    min-height: 1000px;
} */


p{
    font-weight: 300;
    color: #111;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/pexels-stefan-stefancik-91216\ \(1\).jpg) ;
    background-size: cover;
}


/* 
.banner{
    content :'';
    position: absolute;
    top: 0;left: 0;width: 100%;height: 400px; 
    background: linear-gradient(#000, transparent);
    pointer-events: none;
}
.banner:before {
    content :'';
    position: absolute;
    top: 0;left: 0;width: 100%;height: 400px; 
    background: linear-gradient(#000, transparent);
    pointer-events: none;
}
.banner:after {
    content :'';
    position: absolute;
    bottom: 0;left: 0;width: 100%;height: 400px; 
    background: linear-gradient(360deg,#000, transparent);
    pointer-events: none;
} */




.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: whitesmoke;
}
.banner .content p{
    font-size: 1em;
    color: whitesmoke;
}
.btn{
    font-size: 1em;
    color: whitesmoke;
    background: #ff0157;
    display: inline-block;
    padding: 10px 10px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
}.btn:hover{
    /* letter-spacing: 6px; */
    color: black;
    background: rgb(202, 193, 71);
    font-weight: 700;
}
header{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: whitesmoke;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo{
    color: whitesmoke;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color : black
}
header .logo span{
    color: crimson;
    font-size: 1.1em;
    font-weight: 700;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none ;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: 600;
}
header.sticky .navigation li a{
    color: black
}
header .navigation li a:hover{
    color: crimson;
    font-size: 1.2em;
    font-weight: 600;
}
section{
    /* padding: 100px; */
    padding: 50px;
    /* margin-bottom: 20px; */
    /* margin-bottom: 20px; */
}
.row{
    position: relative;
    width : 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.titleText{
    /* color: black; */
    color: mintcream;
    font-size: 2em;
    font-weight: 700;
    margin-top : 50px;
}
.titleText span{
    color: crimson;
    font-weight: 700;
    font-size: 1.5em;
}
/* div kısmı */
.row .col50 .imgBx{
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}
/* div içindeki img kısmı */
.row .col50 .imgBx img{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu{
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* justify-content: center;
    align-items: center; */
    /* background: url(images/pexels-pixabay-416920.jpg);
    background-size: cover; */
    /* background-color: #34495e; */
    background-image: linear-gradient( 109.6deg,  rgba(44,83,131,1) 18.9%, rgba(95,175,201,1) 91.1% );
}
.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid whitesmoke;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 285px;
}
.menu .content .box .imgBx img{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content .box .text{
    padding: 15px 0 5px;
}
.menu .content .box .text h3{
    font-weight: 400;
    color: black;
}
.about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
    /* background: url(images/pexels-johannes-plenio-1119976.jpg);
    background-size: cover; */
}
.about .titleText{
    /* color: black; */
    color: black;
    font-size: 2em;
    font-weight: 700;
}
.about .box{
    width: 250px;
    margin: 15px;
}
.about .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}
.about .box .imgBx img{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .box .text{
    padding: 15px 0 5px;
}
.about .box .text h3{
    font-weight: 400;
    color: black;
}

.grid2 {
    margin: 10px;
  /* border: 2px solid #333; */
  /* background-color: whitesmoke; */
}

/* .grid:after {
  content: '';
  display: block;
  clear: both;
} */

a {
    text-decoration: none;
    font-weight: bold;
}

.expert{
    /* background: url(images/pexels-samer-daboul-1275413.jpg); */
    /* background: #2980b9; */
    /* background-size: cover; */
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
    
    

}

.expert .titleText{
    margin-top: 10px;
}

.element-item {
  position: relative;
  text-decoration: none;
  float: left;
  width: 110px;
  height: 110px;
  margin: 15px;
  padding: 10px;
  border : 1px solid black;
  /* background: #ecf0f1; */
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );

  /* color: #262524; */
  box-shadow: 4px 4px 9px 0px rgba(57, 53, 115, 0.51);  
  /* transition: transform 0.4s; */
}
.element-item .name {
  position: absolute;
  left: 10px;
  top: 45px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 35px;
  font-weight: bold;
  /* color: white; */
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  right: 8px;
  top: 85px;
  font-size: 16px;
  text-decoration: none;
}

.element-item .info{
    position: absolute;
    /* left : 10px; */
    top : 78px;
    font-size : 13px;
}


.element-item .tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  
}

.element-item .tooltip .tooltiptext {
  visibility: hidden;
  font-size: 14px;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.element-item .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.element-item .tooltip:hover .tooltiptext {
  visibility: visible;
}

.element-item:hover{
    box-shadow: 7px 7px 10px 0px rgba(34, 31, 32, 0.623); 
}



.about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin-top: 40px; */
    /* height: 100vh; */
    /* background: #16a085; */
    background-image: radial-gradient( circle farthest-corner at 50.3% 44.5%,  rgba(116,147,179,1) 0%, rgba(62,83,104,1) 100.2% );
}

.about .box .imgBx{
    position: relative;
    width: 100%;
    /* height: 300px; */
    box-shadow:7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.about .box .imgBx img{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .pro{
    border : 1px solid black;
    margin: 5px;
    padding: 5px;
    text-align: center;
} */

/* .testimonials{
    background: url(images/bg2.jpg);
    background-size: cover;
}
.white .titleText,
.white p{
    color: whitesmoke;
}
.testimonials .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.testimonials .content .box{
    width: 340px;
    margin: 20px;padding: 40px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials .content .box .imgBx{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonials .content .box .imgBx img{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials .content .box .text{
    text-align: center;
}
.testimonials .content .box .text p{
    color: black;
    font-style: italic;
}
.testimonials .content .box .text h3{
    margin-top: 20px;
    color: black;
    font-size: 1em;
    color: crimson;
    font-weight: 600;
}
.contact{
    background: url(images/bg3.jpg);
    background-size: cover;
}
.contactForm{
    padding: 75px 50px;
    background: whitesmoke;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    margin-top: 50px;
    max-width: 500px;
}
.contactForm h3{
    color : black;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    color: black;
    outline: none;
    font-size: 1em;
    resize: none;
}
.contactForm .inputBox input[type="submit"]{
    font-size: 1em;
    color : whitesmoke;
    background: #ff0517;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border : none;
    cursor: pointer;
}
.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid whitesmoke;
    text-align: center;
}
.copyrightText p{
    color : #333
}
.copyrightText a{
    color: crimson;
    font-weight: 500;
    text-decoration: none;
} */



.social{
	position: fixed;
	top:75%;
	right:0px;
    transform:translateY(-50%);
    color: black;
    z-index : 1500
}
.social a{
    display: flex;
    font-size:20px;
	justify-content: center;
	align-items: center;
	width:40px;
	height:40px;
	margin:1px;
	padding: 0px;
    line-height:0px;
    color: black;
	background-color:mintcream;
    /* border:1px solid black; */
    border-radius: 5px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
	background-color:#000000;
    transition:all ease 0.5s;
    text-decoration: none;
    color: whitesmoke;
}

.timeline{
    /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    /* background-color: #2980b9;
    background: linear-gradient(90deg, #2980b9 0%, #091f79 48%, rgba(0,212,255,1) 100%); */
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.timeline:before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    /* bottom: 0; */
    /* bottom : 5%; */
    bottom : 1rem;
    transform: translate(-50%);
    width: 4px;
    background-color: whitesmoke;
}

.timeline .entries{
    width: calc(100% - 80px);
    max-width: 800px;
    margin: auto;
    margin-top :50px;
    position: relative;
    left: -5px;
}

.timeline .entries .entry{
    width: calc(50% - 10px);
    float: left;
    /* padding: 10px 20px; */
    padding: 1rem 2rem;
    clear: both;
    text-align: right;
}

.timeline .entries .entry .titleA{
    font-size: 20px;
    margin-bottom: 5px;
    position: relative;
    color: whitesmoke;
}
.timeline .entries .entry .titleA:before{
    /* yuvarlaklar */
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border : 4px solid whitesmoke;
    background-color: teal;
    border-radius: 100%;
    top : 50%;
    transform: translateY(-50%);
    /* right: -47px; */
    right: -3.6rem;
    /* z-index: 1000; */
}

.timeline .entries .entry .titleA.big:before{
    width: 24px;
    height: 24px;
    transform: translate(8px,-50%);
}

.timeline .entries .entry .body{
    color: whitesmoke;
}
.timeline .entries .entry .body p{
    color: whitesmoke;
    line-height: 1.4em;
    font-size : 16px;
    font-weight: 500;
}
.timeline .entries .entry:nth-child(2n){
    text-align: left;
    float: right;}

.timeline .entries .entry:nth-child(2n) .titleA:before{
    /* left : -37px */
    left : -3rem
}
.timeline .entries .entry:nth-child(2n) .titleA.big:before{
    transform: translate(-8px, -50%);
}

@media (max-width: 991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        /* height: 100%; */
        height: calc(100% - 58px);
        position: fixed;
        top: 58px;left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: whitesmoke;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{       
        color: black;
        font-size: 1.6em;     
    }

    header.sticky .menuToggle{
        filter : invert(1)
    }
    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 2.2em;
        color : whitesmoke
    }
    .row{
        flex-direction: column;
    }
    .row .col50{
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx{
        margin-top: 20px;height: 300px;
    }
    .menu .content{
        margin-top: 20px;
    }
    .margin .content .box{
        margin: 10px;
    }
    .menu .content .box .imgBx {
    
    height: 260px;
    }
    .title {    
    text-align: center;
    }
    .titleText {
        color: mintcream;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 15px;
}
.about .row .col50 .imgBx{
    display: none;
}
/* .about img{    
    display: none;
} */


.testimonials .content .box { 
    margin: 10px;
    padding: 20px;
}
.contactForm {
    padding: 35px 40px;
    margin-top: 50px;
    max-width: 500px;
    margin-bottom: 30px;
}
}

@media (max-width: 480px){
    .banner .content h2{
        font-size: 2.2em;
        color : whitesmoke
    }
}